body {
    background-image: url(../img/road.png);
    background-repeat: round;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 80px auto 100px;
}

.titre_principal h1 {
    color: rgb(223, 213, 213);
    text-align: center;
    text-decoration: underline;
    font-family: 'Oswald', serif;

}

h2 {
    color: rgb(223, 213, 213);
}




a {
    color: #FFFFFF;
    text-decoration: none;
}

/**************navigation*********************/

.nav {
    background-color: black;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

/**************Biographie*****************/

.histoire {
    border: 3px solid rgb(34, 33, 33);
    background-color: rgba(73, 75, 77, 0.9);
    padding: 10px;
    text-align: justify;
}

.histoire p{
    color: #cccccc;
}

/**********************************************/

.moteur img {
    width: 200px;
}

.piece img {
    min-width: 300px;
    min-height: 300px;
    display: list-item;
}


/*****************************technique*********************************/
.image-explication {
    float: left;
}

.explication {
    display: inline-flex;
    margin: 10px;
    background-color: #ccc;
    padding: 10px;
    width: 100%;
}

.titre_fonctionement {
    text-align: center;
}



/*****************************pieces*********************************/
.image-explication {
    float: left;
}

.explication ul li {
    list-style-type: none;
    padding: 21px;
    margin-left: 100px;
}

.titre_fonctionement {
    text-align: center;
}




.piece_mecanique {
    display: inline-flex;
    background-color: #ccc;
    width: 100%;
    margin: 10px 0;
}

.piece_mecanique ul li {
    list-style-type: none;
}

.piece_mecanique li {
    display: flex;
    align-items: center;
    color: #000;
    padding: 30px 0;
}

.piece_mecanique p {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #000;
}


/**********iframe**********************/

.video {
    margin-bottom: 200px;
    width: 100%;
}


/*************a propos et contact******************/

.about_me {
    background-color: #cccccc;
    padding: 10px;
    margin-top: 10px;
    opacity: 0.7;
}

.about_me p {
    margin: 5%;
    color: #000000;
}

.info_contact {
    display: flex;
    width: 100%;
}

.map {
    width: 70%;
    float: left;
    margin:10px 5px 0 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: rgb(248, 230, 195);
    float: left;
    width: 30%;
    margin:10px 0 0 5px;
}

.card h2 {
    color: #2f2f2f;
}

.card p {
    color: #2f2f2f;
    margin: 40px;

}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.title {
    color: rgb(61, 57, 58);
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}



button:hover, a:hover {
    opacity: 0.7;
}

.contact_button a {
    color: blanchedalmond;
}


/**********footer**********************/

footer {
    background-color: rgb(39, 38, 38);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 30px;

}

footer ul li {
    display: inline;

}






